/* Add any necessary styling for the footer */
.footer-container {
    background-image: url('../images/Black.jpg');
    background-size: cover; /* Adjust the image sizing */
    background-position: center; /* Adjust the image position */
    color: white;
    height: 100%;
}

.footer-icon {
    width: 50px; /* Adjust as needed */
    height: 50px;
    margin: 0 10px;
}
